#!/bin/bash

EXIM="/opt/exim"
CLAMAV="/var/lib/clamav"
DIR="/opt/WWW/container.ite-ng.ru/logs/exim"
CLAMAV_LOG="$DIR/tmp/"
EXIM_LOG="$DIR/var/log/"


SRC_CLAMAV_LOG="$EXIM/tmp"
SRC_EXIM_LOG="$EXIM/var/log"

mkdir -p $CLAMAV_LOG
mkdir -p $EXIM_LOG

if [[ ! -L "$SRC_CLAMAV_LOG" && -d "$SRC_CLAMAV_LOG" ]]; then
	rm -rf $SRC_CLAMAV_LOG
	ln -s $CLAMAV_LOG $EXIM
fi

if [[ ! -L "$SRC_EXIM_LOG" && -d "$SRC_EXIM_LOG" ]]; then
	rm -rf $SRC_EXIM_LOG
	ln -s $EXIM_LOG $SRC_EXIM_LOG
fi

setfacl -m g:exim:rwx -R $DIR/
setfacl -m g:clamav:rwx -R $DIR/

chmod 644 -R $CLAMAV_LOG
chmod 644 -R $EXIM_LOG

chmod 755 $CLAMAV
