#!/bin/bash
EXIM="/opt/exim"
SRC_CLAMAV_LOG="$EXIM/tmp"
SRC_EXIM_VAR="$EXIM/var"
SRC_EXIM_LOG="$SRC_EXIM_VAR/log"

CLAMAV="/var/lib/clamav"
DIR="/opt/WWW/container.ite-ng.ru/logs/exim"
CLAMAV_LOG="$DIR/tmp/"
EXIM_LOG="$DIR/var/log/"

mkdir -p $CLAMAV_LOG
mkdir -p $EXIM_LOG

if [[ ! -L "$SRC_CLAMAV_LOG" && -d "$SRC_CLAMAV_LOG" ]]; then
    rm -rf $SRC_CLAMAV_LOG
    ln -s $CLAMAV_LOG $EXIM
fi

if [[ ! -L "$SRC_EXIM_LOG" && -d "$SRC_EXIM_LOG" ]]; then
    rm -rf $SRC_EXIM_LOG
    ln -s $EXIM_LOG $SRC_EXIM_VAR
fi

touch $EXIM_LOG/main.log
touch $EXIM_LOG/panic.log
touch $EXIM_LOG/reject.log
touch $CLAMAV_LOG/spamd.log

setfacl -m g:48:rwx -R $DIR/
setfacl -m g:exim:rwx -R $DIR/
setfacl -m g:clamav:rwx -R $DIR/

chmod 664 -R $CLAMAV_LOG
chmod 664 -R $EXIM_LOG

#logrotate permission
chmod 755 $CLAMAV_LOG
chmod 755 $EXIM_LOG

chmod 755 $CLAMAV

